<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="text-primary font-weight-bolder">Datos personales</h3>
        </div>
        <div class="col-12">
            <div class="text-center">
                <img src="{{persona.foto_perfil != null? persona.foto_perfil:'assets/img/user.png'}}" class="rounded-circle image">
            </div>
            <div class="text-center">
                <input (change)="profileHandler($event.target.files)" type="file" id="foto-picker" class="d-none">
                <button id="btn-s-f" (click)="profilePicker()" type="button" class="btn btn-primary my-2 mx-1 btn-sm rounded-circle btn-foto"
                data-toggle="tooltip" data-placement="left" title="Seleccionar foto"><i class="fas fa-camera"></i></button>
                <button id="btn-e-f" *ngIf="persona.foto_perfil != null" (click)="persona.foto_perfil=null;" type="button" 
                class="btn btn-outline-info my-2 mx-1 btn-sm rounded-circle btn-foto" data-toggle="tooltip" data-placement="right" title="Eliminar foto"><i class="fas fa-trash-alt"></i></button>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Documento</label>
            <div class="input-group mb-3">
                <input value="{{persona.documento}}" type="text" class="form-control" placeholder="Documento" readonly>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Nombres <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="persona.nombres" name="nombres" placeholder="Nombres...">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Apellidos <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" [(ngModel)]="persona.apellidos" name="apellidos" placeholder="Apellidos...">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Fecha de Nacimiento <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
            <div class="input-group mb-3">
                <input type="date" class="form-control" [(ngModel)]="persona.fecha_nacimiento" name="fecha_nacimiento">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Sexo <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
            <div class="input-group mb-3">
                <ng-select [clearable]="false" style="width: 100%;" [placeholder]="'Elegir...'" [virtualScroll]="true"
                    [closeOnSelect]="true" notFoundText="Sin resultados" [(ngModel)]="persona.sexo" name="sexo">
                    <ng-option [value]="'F'">Femenino</ng-option>
                    <ng-option [value]="'M'">Masculino</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Estado Civil <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
            <div class="input-group mb-3">
                <ng-select [clearable]="false" style="width: 100%;" [placeholder]="'Elegir...'" [virtualScroll]="true"
                    [closeOnSelect]="true" notFoundText="Sin resultados" [(ngModel)]="persona.estado_civil" name="estado_civil">
                    <ng-option [value]="'Soltero/a'">Soltero/a</ng-option>
                    <ng-option [value]="'Casado/a'">Casado/a</ng-option>
                    <ng-option [value]="'Viudo/a'">Viudo/a</ng-option>
                    <ng-option [value]="'Divorciado/a'">Divorciado/a</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Nacionalidad <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
            <div class="input-group mb-3">
                <ng-select [clearable]="false" style="width: 100%;" [placeholder]="'Elegir...'" [virtualScroll]="true"
                    [closeOnSelect]="true" notFoundText="Sin resultados" [(ngModel)]="persona.nacionalidad" name="nacionalidad">
                    <ng-option *ngFor="let i of nacionalidades" [value]="i.nacionalidad">{{i.nacionalidad}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Ciudad de Residencia <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
            <div class="input-group mb-3">
                <ng-select [clearable]="false" style="width: 100%;" [placeholder]="'Elegir...'" [virtualScroll]="true"
                    [closeOnSelect]="true" notFoundText="Sin resultados" [(ngModel)]="persona.ciudad_residencia" name="ciudad_residencia">
                    <ng-option *ngFor="let i of ciudades" [value]="i.Municipio">{{i.Municipio}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div class="col-12">
            <h3 class="text-primary font-weight-bolder">Contacto</h3>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Email <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Email..." [(ngModel)]="persona.email" name="email">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Celular 1 <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Celular 1..." [(ngModel)]="persona.cel_1" name="cel_1">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Celular 2</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Celular 2..." [(ngModel)]="persona.cel_2" name="cel_2">
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <label for="">Teléfono</label>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Teléfono..." [(ngModel)]="persona.telefono" name="telefono">
            </div>
        </div>
        <div class="col-12">
            <h3 class="text-primary font-weight-bolder">Informaciones adicionales</h3>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h6 class="text-black-50 font-weight-bolder mb-2">¿Tiene familiar(es) que trabaja(n) en Personal? <span class="text-info"><span class="text-primary">(</span>*<span class="text-primary">)</span></span></h6>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rfs" name="rf" class="custom-control-input" [value]="true" [(ngModel)]="rf" (ngModelChange)="changeRf($event)">
                        <label class="custom-control-label green" for="rfs">SI</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rfn" name="rf" class="custom-control-input" [value]="false" [(ngModel)]="rf" (ngModelChange)="changeRf($event)">
                        <label class="custom-control-label red" for="rfn">NO</label>
                    </div>
                    <div class="collapse hide mt-2" id="showRf">
                        <div class="row">
                            <div class="col-12" *ngFor="let i of persona?.familiares; index as j;">
                                <div class="input-group mb-3">
                                    <input [(ngModel)]="i.nombre" type="text" class="form-control" placeholder="Nombre...">
                                    <div class="input-group-append">
                                      <button (click)="removeFamiliar(j)" class="btn btn-info" type="button"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <button (click)="addFamiliar()" class="btn btn-block btn-primary w-50 mx-auto btn-sm">AGREGAR ({{persona?.familiares?.length}})</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h6 class="text-black-50 font-weight-bolder mb-2">¿Ha trabajo en Personal? <span class="text-info"><span class="text-primary">(</span>*<span class="text-primary">)</span></span></h6>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rts" name="rt" class="custom-control-input" [value]="true" [(ngModel)]="rt" (ngModelChange)="changeRt($event)">
                        <label class="custom-control-label green" for="rts">SI</label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="rtn" name="rt" class="custom-control-input" [value]="false" [(ngModel)]="rt" (ngModelChange)="changeRt($event)">
                        <label class="custom-control-label red" for="rtn">NO</label>
                    </div>
                    <div class="collapse hide mt-2" id="showRt">
                        <div class="row">
                            <div class="col-12">
                                <label for="">Cargo <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Cargo..." [(ngModel)]="pt.cargo" name="cargo">
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="">Supervisor <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Supervisor..." [(ngModel)]="pt.supervisor" name="supervisor">
                                </div>
                            </div>
                            <div class="col-12">
                                <label for="">¿Dónde? <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" placeholder="Dónde..." [(ngModel)]="pt.donde" name="donde">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card mb-3">
                <div class="card-body">
                    <h6 class="text-black-50 font-weight-bolder">Redes Sociales</h6>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label for="">Linkedin</label>
                            <div class="input-group mb-3">
                                <input [(ngModel)]="rs.linkedin" name="linkedin" type="text" class="form-control" placeholder="URL...">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="">Facebook</label>
                            <div class="input-group mb-3">
                                <input [(ngModel)]="rs.facebook" name="facebook" type="text" class="form-control" placeholder="URL...">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="">Twitter</label>
                            <div class="input-group mb-3">
                                <input [(ngModel)]="rs.twitter" name="twitter" type="text" class="form-control" placeholder="URL...">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="">Web</label>
                            <div class="input-group mb-3">
                                <input [(ngModel)]="rs.web" name="web" type="text" class="form-control" placeholder="URL...">
                            </div>
                        </div>
                    </div>
                </div>
            </div>     
        </div>
        <div class="col-12">
            <button (click)="actualizarDatos()" type="button" class="btn btn-primary btn-block w-50 mx-auto my-3 d-none d-md-block">GUARDAR DATOS</button>
            <button (click)="actualizarDatos()" type="button" class="btn btn-primary btn-block btn-sm w-50 mx-auto my-3 d-md-none">GUARDAR</button>
        </div>  
    </div>
</div>