.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border:none;
}

.custom-control-input:checked ~ .custom-control-label.red::before {
  background-color: #00BBF9;
}

.custom-control-input:checked ~ .custom-control-label.green::before {
  background-color: #00BBF9;
}

.image {
  width: 128px;
  height: 128px;
  object-fit: cover;
}

.btn-foto {
  width: 32px;
  height: 32px;
}