<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="text-primary font-weight-bolder">Idiomas <span class="badge badge-secondary">{{idioma.length <= 1? 0:idioma.length - 1}} registro(s)</span></h3>
        </div>
        <div class="col-12" *ngFor="let i of idioma; index as j;">
            <div class="card shadow-sm my-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <label for="">Idioma <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <input [(ngModel)]="i.idioma" name="idioma-{{j}}" type="text" class="form-control" placeholder="Idioma...">
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">Habla <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <select [(ngModel)]="i.habla" name="habla-{{j}}" class="custom-select">
                                    <option value="B">Básico</option>
                                    <option value="I">Intermedio</option>
                                    <option value="A">Avanzado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">Lee <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <select [(ngModel)]="i.lee" name="lee-{{j}}" class="custom-select">
                                    <option value="B">Básico</option>
                                    <option value="I">Intermedio</option>
                                    <option value="A">Avanzado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">Escribe <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <select [(ngModel)]="i.escribe" name="escribe-{{j}}" class="custom-select">
                                    <option value="B">Básico</option>
                                    <option value="I">Intermedio</option>
                                    <option value="A">Avanzado</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 text-center text-md-right">
                            <button (click)="post(j)" *ngIf="i.id == null" type="button" class="btn btn-primary btn-sm m-1"><i class="fas fa-plus mr-2"></i>Guardar</button>
                            <button (click)="put(j)" *ngIf="i.id != null" type="button" class="btn btn-info btn-sm m-1"><i class="fas fa-edit mr-2"></i>Actualizar</button>
                            <button (click)="deleteTargetPosition=j;" data-toggle="modal" data-target="#eliminarIdio" *ngIf="i.id != null" type="button" class="btn btn-outline-secondary btn-sm m-1"><i class="fas fa-trash-alt mr-2"></i>Eliminar</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted q" *ngIf="i.id != null">
                    <div class="text-right">
                        <i class="fas fa-edit mr-2"></i> {{i.fecha_modificacion}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="eliminarIdio" tabindex="-1" aria-labelledby="eliminarIdioLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="eliminarIdioLabel">Eliminar Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="text-black-50">¿Estás seguro(a)?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button data-dismiss="modal" (click)="delete()" type="button" class="btn btn-primary">Eliminar</button>
        </div>
      </div>
    </div>
</div>