<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <!-- <div (click)="f1()" id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div> -->

        <div class="sidebar-header shadow-sm by-primary">
            <div class="text-center">
                <img src="assets/img/personal-rosado.png" style="width: 110px;height: auto;">
                <p class="text-primary font-weight-bolder mb-0 q">Portal de empleos</p>
            </div>
        </div>

        <ul class="list-unstyled components">
            <li *ngFor="let i of sideBar" (mouseover)="i.active=true" (mouseout)="i.active=false">
                <a (click)="f1()" routerLink="{{i.route}}" class="animate__animated {{i.active?'animate__pulse animate__faster':''}}"><i class="{{i.icon}}"></i>{{i.nombre}}</a>
            </li>
        </ul>
        <div class="mt-3">
            <div (click)="f1()" id="dismiss" class="shadow">
                <i class="fas fa-arrow-left"></i>
            </div>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-dark navbar-expand-md bg-primary">
            <div class="navbar-brand">
                <a *ngIf="user != null" (click)="f2()"><i class="fas fa-bars text-white mr-4"></i></a>
                <img routerLink="/home" src="assets/img/personal-blanco.png" style="width: 110px;height: auto;cursor: pointer;">
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li *ngIf="user == null" class="nav-item">
                        <a routerLink="/login" class="nav-link text-white" href="#">Iniciar Sesión</a>
                    </li>
                    <li *ngIf="user == null" class="nav-item">
                        <a routerLink="/register" class="nav-link text-white" href="#">Registrarse</a>
                    </li>
                    <li *ngIf="user != null" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle fa-lg text-white"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a routerLink="/perfil" class="dropdown-item">Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a (click)="logOut()" class="dropdown-item">Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>

<div (click)="f1()" class="overlay"></div>