<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div (click)="f1()" id="dismiss">
            <i class="fas fa-arrow-left"></i>
        </div>

        <div class="sidebar-header shadow-sm">
            <img src="assets/img/personal-blanco.png" style="width: 110px;height: auto;">
        </div>

        <ul class="list-unstyled components">
            <li>
                <a (click)="f1()" routerLink="/home"><i class="fas fa-home mr-2"></i>Pág. Principal</a>
            </li>
            <li>
                <a (click)="f1()" routerLink="/curriculum"><i class="fas fa-user-tie mr-2"></i>Currículum</a>
            </li>
            <li>
                <a (click)="f1()" routerLink="/postulaciones"><i class="fas fa-star mr-2"></i>Postulaciones</a>
            </li>
            <li>
                <a href="#admin-menu" data-toggle="collapse" aria-expanded="false"><i class="fas fa-user-cog mr-2"></i>Administración</a>
                <ul class="collapse list-unstyled" id="admin-menu">
                    <li>
                        <a (click)="f1()" routerLink="/procesos"><i class="fas fa-clipboard-list mr-2"></i>Procesos</a>
                    </li>
                    <li>
                        <a (click)="f1()" routerLink="/empleos"><i class="fas fa-briefcase mr-2"></i>Empleos</a>
                    </li>
                    <li>
                        <a (click)="f1()" routerLink="/usuarios"><i class="fas fa-users mr-2"></i>Usuarios</a>
                    </li>
                    <li>
                        <a (click)="f1()" routerLink="/configuraciones"><i class="fas fa-cogs mr-2"></i>Configuraciones</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-dark navbar-expand-md bg-primary">
            <div class="navbar-brand">
                <a (click)="f2()"><i class="fas fa-bars text-white mr-4"></i></a>
                <img src="assets/img/personal-blanco.png" style="width: 110px;height: auto;">
            </div>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a routerLink="/login" class="nav-link text-white" href="#">Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a routerLink="/register" class="nav-link text-white" href="#">Registrarse</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-user-circle fa-lg text-white"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Perfil</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Cerrar Sesión</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>
    </div>
</div>

<div (click)="f1()" class="overlay"></div>