<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3 class="text-primary font-weight-bolder">Educación <span class="badge badge-secondary">{{educacion.length <= 1? 0:educacion.length - 1}} registro(s)</span></h3>
        </div>
        <div class="col-12" *ngFor="let i of educacion; index as j;">
            <div class="card shadow-sm my-2">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <label for="">Institución <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <input [(ngModel)]="i.institucion" name="institucion-{{j}}" type="text" class="form-control" placeholder="Institución...">
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <label for="">Título <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <input [(ngModel)]="i.titulo" name="titulo-{{j}}" type="text" class="form-control" placeholder="Título...">
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">Grado académico <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <select [(ngModel)]="i.grado" name="grado-{{j}}" class="custom-select">
                                    <option value="Secundario">Secundario</option>
                                    <option value="Universitario">Universitario</option>
                                    <option value="Postgrado">Postgrado</option>
                                    <option value="Maestría">Maestría</option>
                                    <option value="Doctorado">Doctorado</option>
                                    <option value="Curso">Curso</option>
                                    <option value="Capacitación">Capacitación</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">¿Estudiando actualmente? <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <select (change)="i.estudiando?i.hasta=null:null" [(ngModel)]="i.estudiando" name="estudiando-{{j}}" class="custom-select">
                                    <option [value]="true">SI</option>
                                    <option [value]="false">NO</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">Desde <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <input [(ngModel)]="i.desde" name="desde-{{j}}" type="text" class="form-control" placeholder="Desde...">
                            </div>
                        </div>
                        <div class="col-12 col-md-3">
                            <label for="">Hasta</label>
                            <div class="input-group input-group-sm mb-2">
                                <input [disabled]="i.estudiando" [(ngModel)]="i.hasta" name="hasta-{{j}}" type="text" class="form-control" placeholder="Hasta...">
                            </div>
                        </div>
                        <div class="col-12 col-md-4">
                            <label for="">País <span class="text-primary">(</span>*<span class="text-primary">)</span></label>
                            <div class="input-group input-group-sm mb-2">
                                <input [(ngModel)]="i.pais" name="pais-{{j}}" type="text" class="form-control" placeholder="País...">
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <label for="">Archivo (PDF/Imagen, Máx.: 2MB)</label>
                            <div class="input-group input-group-sm mb-2">
                                <input (change)="fileHandler($event.target.files, j)" type="file" class="d-none" id="ifedu-{{j}}">
                                <div class="input-group-prepend" id="bfedu-{{j}}">
                                  <button (click)="filePicker(j)" class="btn btn-outline-secondary" type="button" >Seleccionar</button>
                                  <button *ngIf="i.documento != null" (click)="i.documento=null;" class="btn btn-info" type="button"><i class="fas fa-trash-alt"></i></button>
                                  <button *ngIf="i.documento != null" (click)="download(j)" class="btn btn-primary" type="button"><i class="fas fa-download"></i></button>
                                </div>
                                <input value={{i.documento?.nombre}} readonly type="text" class="form-control" placeholder="" attr.aria-describedby="bfedu-{{j}}">
                            </div>
                        </div>
                        <div class="col-12 text-center text-md-right">
                            <button (click)="post(j)" *ngIf="i.id == null" type="button" class="btn btn-primary btn-sm m-1"><i class="fas fa-plus mr-2"></i>Guardar</button>
                            <button (click)="put(j)" *ngIf="i.id != null" type="button" class="btn btn-info btn-sm m-1"><i class="fas fa-edit mr-2"></i>Actualizar</button>
                            <button (click)="deleteTargetPosition=j;" data-toggle="modal" data-target="#eliminarEdu" *ngIf="i.id != null" type="button" class="btn btn-outline-secondary btn-sm m-1"><i class="fas fa-trash-alt mr-2"></i>Eliminar</button>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-muted q" *ngIf="i.id != null">
                    <div class="text-right">
                        <i class="fas fa-edit mr-2"></i> {{i.fecha_modificacion}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="eliminarEdu" tabindex="-1" aria-labelledby="eliminarEduLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-info" id="eliminarEduLabel">Eliminar Registro</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h6 class="text-black-50">¿Estás seguro(a)?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button data-dismiss="modal" (click)="delete()" type="button" class="btn btn-primary">Eliminar</button>
        </div>
      </div>
    </div>
</div>