<div class="carousel slide mb-4 d-none d-md-block" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/img/home.png" class="d-block w-100">
            <div class="carousel-caption d-none d-md-block text-left">
                <h1 style="font-size:60px">OPORTUNIDADES</h1>
                <h1 style="font-size:60px" class="font-weight-bolder">DE EMPLEOS</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-4 d-none d-md-block">
            <div class="row">
                <div class="col-12 mb-2">
                    <h4 class="text-black-50 justify">{{mensaje}}</h4>
                </div>
                <div class="col-12 mb-2">
                    <h3 class="text-info">Ubicación</h3>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3607.5052349004504!2d-57.58995455004978!3d-25.28722398377512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x945da62804537c97%3A0x4b2c4c5c99dd7e8c!2sN%C3%BAcleo%20S.A.%20(Personal%20Paraguay)!5e0!3m2!1ses!2spy!4v1576680086010!5m2!1ses!2spy"
                        height="300" width="100%" frameborder="0" style="border:0;" allowfullscreen="">
                    </iframe>
                </div>
                <div class="col-12">
                    <h3 class="text-info">Contacto</h3>
                    <p class="text-black-50 mb-0"><i class="fas fa-at mr-2"></i>curriculum@personal.com.py</p>
                    <p class="text-black-50"><i class="fas fa-external-link-alt mr-2"></i><a
                            href="http://www.personal.com.py" target="_blank">www.personal.com.py</a></p>
                </div>
            </div>

        </div>
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12">
                    <h3 class="text-info mt-4 mt-md-0 text-center">Lista de empleos disponibles ({{empleos.length}})</h3>
                </div>
                <div class="col-10 offset-1">
                    <div class="input-group mb-3 d-none d-md-flex">
                        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar..."
                            aria-describedby="opciones-buscar">
                        <div class="input-group-append" id="opciones-buscar">
                            <button (click)="buscar()" class="btn btn-outline-info" type="button"><i class="fas fa-search mr-2"></i>
                                Buscar</button>
                            <button (click)="limpiar()" class="btn btn-outline-secondary" type="button"><i class="fas fa-eraser mr-2"></i>
                                Limpiar</button>
                        </div>
                    </div>
                    <div class="input-group mb-3 d-md-none">
                        <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Buscar..." aria-label="Buscar..."
                            aria-describedby="opciones-buscar-m">
                        <div class="input-group-append" id="opciones-buscar-m">
                            <button (click)="buscar()" class="btn btn-outline-info" type="button"><i class="fas fa-search"></i></button>
                            <button (click)="limpiar()" class="btn btn-outline-secondary" type="button"><i
                                    class="fas fa-eraser"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1">
                    <div *ngFor="let i of empleos | paginate: { id: 'server', itemsPerPage: 5, currentPage: p }" class="card shadow-sm mb-2">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="text-info font-weight-bolder">{{i.oportunidad}} <span
                                            class="badge badge-primary">{{i.id}}</span></h5>
                                    <p class="text-black-50 mb-0"><i
                                            class="fas fa-map-marker text-info mr-2"></i>{{i.localidad.nombre}} -
                                        {{i.localidad.direccion}}</p>
                                    <!-- <p class="text-black-50 mb-0"><i class="fas fa-street-view text-info mr-2"></i>Área:
                                        {{i.area.nombre}}</p> -->
                                    <p class="text-black-50 mb-0"><i
                                            class="fas fa-calendar text-info mr-2"></i>Publicado el {{i.fecha_creacion}}</p>
                                    <div class="text-right">
                                        <button [routerLink]="['/empleos/ver', i.id]" type="button" class="btn btn-primary shadow-sm btn-sm">Ver
                                            empleo</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <pagination-controls class="my-pagination text-center" id="server" (pageChange)="p=$event"
                        maxSize="5" previousLabel="" nextLabel="">
                    </pagination-controls>
                </div>
            </div>

        </div>
    </div>
</div>