/* You can add global styles to this file, and also import other style files */
@import "node_modules/bootstrap/scss/bootstrap";
@import '~ngx-toastr/toastr-bs4-alert';
$ng-select-highlight: #00BBF9 !default;
@import "~@ng-select/ng-select/scss/default.theme";
a, button {
    cursor: pointer !important;
}

h1, h2, h3, h4, h5, h6, a, label, button, .alert {
    font-family: 'Quicksand', sans-serif;
}

.q {
    font-family: 'Quicksand', sans-serif;
}

.justify {
    text-align: justify;
    text-justify: inter-word;
}

label {
    color: #e83e8c;
    font-weight: bolder;
}

.dis {
    opacity: 0.75;
    pointer-events: none;
}